* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-gray: hsl(212, 45%, 89%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(217, 93%, 48%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 2rem;
	font-family: 'Outfit', sans-serif;
	font-size: 62.5%;
	background-color: var(--light-gray);
}

.wrapper {
	position: relative;
	width: 37.5rem;
	padding: 1rem;
	background-color: var(--white);
	border-radius: 1.5rem;
}

img {
	max-width: 100%;
	border-radius: 1.5rem;
}

.info-section {
	margin: 1.5rem;
}

h2.title {
	margin-bottom: 20px;
	font-size: 1.2rem;
	text-align: center;
}

.text {
	font-size: 1rem;
	text-align: center;
	color: var(--grayish-blue);
}

.color-text {
	color: var(--dark-blue);
}

@media (min-width: 1024px) {
	.wrapper {
		width: 30rem;
		padding: 50px;
	}

	img {
		width: 100%;
		transition: transform 0.3s;
	}

	img:hover {
		transform: scale(1.1);
	}

	.info-section {
		margin: 40px 10px 0px;
		padding: 30px 40px;
	}

	h2.title {
		font-size: 2rem;
		text-align: center;
	}

	.text {
		margin: 1rem 0;
		font-size: 1.8rem;
		text-align: center;
		color: var(--grayish-blue);
	}
}
